.App {
  height: 100vh;
  display: flex;
  background-color: #192537;
  color: white;
  /* text-align: center; */
}

.Main {
  width: 75%;
  background: url(./assets/Quizillionaire.png) center;
}

.LevelsContainer {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Levels {
  list-style: none;
  width: 100%;
  padding: 20px;
}

.LevelsItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.LevelsItem.active {
  background-color: hsl(38, 23%, 60%, 50%);
}

.LevelsItemNumber {
  font-size: 18px;
  font-weight: 100;
  width: 30%;
}

.LevelsItemAmount {
  font-size: 20px;
  font-weight: 300;
}
